@page
@{
}
<div class="container-fluid paddingzero">
    <div class="row paddingzero">
        <div class="col-md-12 paddingzero">
            <img src="~/Image/about.jpg" class=" rounded-bottom w-100 imgalignment coverheight" alt="">
        </div>
    </div>
</div>

<div class="container py-5">
    <div class="row  align-items-center">
        <div class="col-md-6">
            <h2>About Us</h2>
            <p>
                Welcome to Online Auction <i class="fa-solid fa-file-invoice-dollar ms-1"></i>, your partner in hassle-free travel. Founded with a passion for transforming the way people experience bus travel, we've embarked on a journey to provide a seamless, convenient, and reliable online bus booking platform. Our team is fueled by a shared commitment to making your travels comfortable, accessible, and memorable.
            </p>
            <p>
                At Online Auction <i class="fa-solid fa-file-invoice-dollar ms-1"></i>, we believe in transparency, integrity, and customer-centricity. Our platform is designed to empower travelers by offering a diverse range of routes, schedules, and services to cater to individual preferences. We understand that travel is not just about getting from one place to another; it's about the moments, the connections, and the experiences that enrich our lives.
            </p>

        </div>
        <div class="col-md-6">
            <img src="~/Image/aboutbanner.jpg" class="rounded w-100 imgalignment" height="400px" alt="Random third slide" alt="" srcset="">
        </div>
    </div>
</div>