@page
@model Online_Auction.Pages.UI.bidingModel
@{
}
<div class="container-fluid paddingzero">
    <div class="row paddingzero">
        <div class="col-md-12 paddingzero">
            <img src="~/Image/auction.jpg" class=" rounded-bottom w-100 imgalignment coverheight" alt="">
        </div>
    </div>
</div>
<div class="container py-5">
    <div class="row py-5">
        <h2 class="text-center">Current Auctions</h2>
        @{
            if (Model.errorMessage.Length > 0)
            {
                <h3 class="text-center text-danger">@Model.errorMessage</h3>

            }
            if (Model.successMessage.Length > 0)
            {
                <h3 class="text-center text-danger">@Model.successMessage</h3>

            }
        }
        @{
            foreach(var item in Model.buseslist)
            {
                <div class="col-md-4 mt-3 rounded">
                    <div class="Mycontainer">
                        <img src="~/uploads/img/@item.img" class="w-100 imgalignment" height="300px">
                        <div class="top_left p-2">
                            <h4 class="">Title : @item.name</h4>
                            <p class="fw-bold">Description : <span class="text-danger">@item.description</span></p>
                            <a class="text-decoration-none" href="/UI/bid?id=@item.id"><buttton class="btn btn-primary ">Bid Now</buttton></a>
                        </div>
                    </div>
                </div>
            }
        }
        
    </div>
</div>
