@page
@model SRC.Pages.Auth_user.forget_passwordModel

<div class="container py-5">
    <div class="row justify-content-center">
        <div class=" col-md-8 col-lg-5">
            <form action="" method="POST">
                <h2 class="text-center">Forget Password</h2>
                @{
                    if (Model.errorMessage.Length > 0)
                    {
                        <h3 class="text-center text-danger">@Model.errorMessage</h3>
                    }
                }
                <div class="mt-5">
                    <div class="col-12 mt-3 d-flex flex-column">
                        <label for="Email">Email :</label>
                        <input type="email" class="form-control mt-2" placeholder="Enter Your Email" name="email" pattern="[a-zA-Z]{3}[a-zA-Z0-9._%+-]+@@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}" title="Your email must contain at least 3 alphabetic characters at the beginning and a valid email format" id="">
                    </div>
                    <div class="col-12 mt-3 d-flex flex-column">
                        <label for="New Password">New Password :</label>
                        <input type="password" class="form-control mt-2" placeholder="Enter Your New Password" name="pass" pattern="[A-Za-z0-9]{6,}" title="password must have 6 digits" required id="">
                    </div>
                    <div class="col-md-12 mt-3">
                        <input type="submit" class="form-control bg-primary text-light" value="Reset Password" readonly>
                    </div>
                    <p>Already Have An Account <a class="text-decoration-none" asp-page="/auth-user/login">Login Here</a> Or To Create New Account <a class="text-decoration-none" asp-page="/auth-user/register">Register Here</a></p>
                </div>
            </form>
        </div>
    </div>
</div>
